<app-header></app-header>
<main class="">
  <div class=" khatwa-container">
    <img src="../../assets/images/LOGIN PAGE/TEXT/Layer-37-copy.png" alt="" class="khatwa img-fluid"/>
  </div>
  <div class="card-container">
    <div>
      <img
        src="../../assets/images/LOGIN PAGE/Window/form-bg.png"
        alt="form-background"
      />
      <div class="card-content">
        <img src="../../assets/images/LOGIN PAGE/kidss.png" alt="characters" />
        <div class="form-container">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="email-container">
              <i class="fa-solid fa-user"></i>
              <input
                type="email"
                id="email"
                class="form-control form-control-lg bg-transparent border-4 border-light rounded-5 text-light"
                formControlName="email"
                autocomplete="email"
                placeholder="E-MAIL"
              />
            </div>
            <div class="password-container">
              <i class="fa-solid fa-lock"></i>
              <input
                type="password"
                id="password"
                class="form-control form-control-lg bg-transparent border-4 border-light rounded-5 text-light"
                formControlName="password"
                autocomplete="current-password"
                placeholder="PASSWORD"
              />
            </div>
            @if (invalidCredentials) {
            <div class="m-0 p-0 text-warning text-center">
              <p class="m-0">Invalid credentials</p>
            </div>
            }
            <div class="buttons-container">
              <button
                class="btn btn-lg bg-light text-black row justify-content-center"
                type="submit"
                [disabled]="!loginForm.valid"
              >
                @if (!isLoading) { <span>LOGIN</span> } @if (isLoading) {
                <i class="fas fa-spinner fa-spin" style="color: #000000"></i>
                }
              </button>
              <a routerLink="/joinus">
                <button class="btn btn-lg bg-transparent text-light">
                  SIGN UP
                </button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class=" nawrt-container">
    <img src="../../assets/images/LOGIN PAGE/TEXT/Layer-36.png" alt="" class="nawrt img-fluid"/>
  </div>
</main>
