/* to make fotter at bottom  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
app-footer {
  margin-top: auto;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #2d0e72;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2d0e72, rgb(187, 117, 13));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2d0e72, rgb(187, 117, 13));
}
