<nav
  class="navbar navbar-expand-lg navbar-light bg-light pb-0 position-sticky top-0"
>
  <div class="container-fluid">
    <div class="ms-5">
      <a class="navbar-brand" routerLink="/home">
        <img
          src="../../assets/images/Landpage/01/logo-png.png"
          class="w-50"
          alt="El-Koshk Logo"
        />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 d-flex justify-content-between">
        <div class="d-flex links gap-3">
          <li
            class="nav-item home pt-1"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item pt-1" [routerLinkActive]="['active']">
            <a class="nav-link text-dark" routerLink="/portfolios"
              >PORTFOLIOS</a
            >
          </li>
          <li class="nav-item pt-1" [routerLinkActive]="['active']">
            <a class="nav-link text-dark" routerLink="/aboutus">ABOUT US</a>
          </li>
          <li class="nav-item pt-1" [routerLinkActive]="['active']">
            <a class="nav-link text-dark" routerLink="/contactus">CONTACT US</a>
          </li>
        </div>
        <div class="d-flex">
          <li class="nav-item joinUs d-flex align-items-center">
            <a
              routerLink="/joinus"
              class="btn bg-light rounded-5 border-black px-3 py-1 mx-5"
              >JOIN US</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
