<section class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../../assets/images/Landpage/01/logo-png.png"
        class="logo"
        alt="El-Koshk Logo"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 d-flex justify-content-around">
        <div class="d-flex links justify-content-center flex-grow-1">
          <li
            class="nav-item home pt-2"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark fw-medium" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item pt-2" [routerLinkActive]="['active']">
            <a class="nav-link text-dark fw-medium" routerLink="/portfolios"
              >PORTFOLIOS</a
            >
          </li>
          <li class="nav-item pt-2" [routerLinkActive]="['active']">
            <a class="nav-link text-dark fw-medium" routerLink="/aboutus"
              >ABOUT US</a
            >
          </li>
          <li class="nav-item pt-2" [routerLinkActive]="['active']">
            <a class="nav-link text-dark fw-medium" routerLink="/contactus"
              >CONTACT US</a
            >
          </li>
          <!-- @if (isLogged) {
          <li class="nav-item pt-2 extraTabs" [routerLinkActive]="['active']">
            <a class="nav-link text-dark fw-medium" routerLink="/myportfolio"
              >My Portfolio</a
            >
          </li>
          <li class="nav-item pt-2 extraTabs">
            <a class="nav-link text-dark">
              <button (click)="logOut()" class="dropdown-item fw-medium">
                Logout
              </button>
            </a>
          </li>
          to be decided later
          <li class="nav-item pt-1 extraTabs">
            <a class="nav-link text-dark">
              <p>
                {{ userName }}
              </p>
            </a>
          </li>
          } -->
        </div>
        <div class="d-flex">
          <li
            class="nav-item joinUs d-flex align-items-center pt-1 pb-1"
            [routerLinkActive]="['joinus-active']"
          >
            <!-- <a
              *ngIf="!isLogged"
              routerLink="/joinus"
              class="nav-link fw-medium text-dark rounded-5 border-black py-1 rounded-5 border mb-1 mt-1"
              >JOIN US</a
            > -->
            @if(!isLogged){
            <a
              routerLink="/joinus"
              class="nav-link fw-medium text-dark rounded-5 border-black py-1 rounded-5 border mb-1 mt-1"
              >JOIN US</a
            >
            } @if(isLogged){
            <div class="dropdown-center">
              <button
                class="btn dropdown-toggle border-light fw-medium"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{ userName }}
              </button>
              <ul class="dropdown-menu  mt-2">
                <li>
                  <a class="dropdown-item fw-medium" routerLink="/myportfolio"
                    >My Portfolio</a
                  >
                </li>
                <li>
                  <a class="dropdown-item">
                    <button (click)="logOut()" class="dropdown-item fw-medium">
                      Logout
                    </button>
                  </a>
                </li>
              </ul>
            </div>
            }
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
