footer {
  background-color: var(--main-color);
  font-family: Helvetica, sans-serif;
  background-image: url("../../assets/images/Landpage/Footer/footer-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 48px;
}
.logo-and-bio {
  margin-left: 60px;
  justify-content: center;
}
.logo-container img {
  width: 100%;
}
.el-koshk-bio p {
  padding: 16px 0 16px 48px;
  font-weight: 500;
}
.links-and-social-media {
  flex: 1;
}
.links {
  font-size: 1.3rem;
  list-style: none;
}
.links li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.links li i {
  font-size: 13px;
  padding-top: 2px;
  color: #000000;
}
.social-media p {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  footer {
    padding: 24px;
  }
  .links,
  .el-koshk-bio p,
  .social-media {
    padding: 0 !important;
  }
}

@media (max-width: 992px) {
  footer,
  .logo-and-bio,
  .links-and-social-media {
    flex-direction: column;
  }
  .logo-and-bio {
    justify-content: space-around;
  }
  .el-koshk-bio,
  .social-media div:last-child {
    max-width: 100%;
  }
  .el-koshk-bio p {
    padding: 16px 0;
  }
  .logo-container {
    margin: auto;
  }
  .links {
    padding: 16px 24px;
  }
  .social-media {
    padding: 16px 24px;
  }
}

@media (max-width: 1200px) {
  .social-media div a img {
    width: 45px;
  }

  .links li i {
    font-size: 11px;
  }
  .el-koshk-bio p {
    padding: 16px 24px;
  }
  .logo-and-bio {
    margin-left: 0;
    justify-content: start;
  }
  .logo-container img {
    width: 135px;
  }
  footer {
    font-size: 0.75rem;
  }
  .links a {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .el-koshk-bio {
    max-width: 300px;
  }
  .social-media div:last-child {
    max-width: 292px;
  }
}

@media (min-width: 1200px) {
  .el-koshk-bio {
    max-width: 400px;
  }
  .social-media div:last-child {
    max-width: 400px;
  }
}
