<!-- <footer class="pt-5 mt-5 pb-5">
  <div class="container-fluid d-flex">
    <div class="col-1 d-flex align-items-start">
      <img
        src="../../assets/images/Landpage/Footer/Logo-Blue.png"
        alt="El Koshk logo"
        class="w-100"
      />
    </div>
    <div class="d-flex flex-grow-1">
      <div class="col-md-4">
        <p class="px-4 py-3 fw-medium">
          EL -KOSHK &nbsp; IS &nbsp; A &nbsp;CREATIVE &nbsp; SPACE &nbsp; FOR
          <br />CHILDREN UNDER 18 YEARS&nbsp; OLD&nbsp; WHERE <br />THEY CAN
          LEARN HOW TO MAKE CINEMA<br />
          AND DIGITAL CONTENT.
        </p>
      </div>
      <div class="flex-grow-1">
        <ul style="list-style-type: square" class="px-4 py-3 fw-bold fs-4">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link">HOME</a>
          </li>
          <li><a routerLink="/portfolios" class="nav-link">PORTFOLIOS</a></li>
          <li><a routerLink="/aboutus" class="nav-link">ABOUT US</a></li>
          <li><a routerLink="/contactus" class="nav-link">CONTACT US</a></li>
        </ul>
      </div>
      <div>
        <P class="fw-bold fs-4 mb-0">SOCIAL MEDIA</P>
        <div class="gap-3 d-flex">
          <a href=""
            ><img
              src="../../assets/images/Landpage/Footer/Social Media Icons/YouTube.png"
              alt=""
          /></a>
          <a href=""
            ><img
              src="../../assets/images/Landpage/Footer/Social Media Icons/Facebook.png"
              alt=""
          /></a>
          <a href=""
            ><img
              src="../../assets/images/Landpage/Footer/Social Media Icons/Instagram.png"
              alt=""
          /></a>
          <a href=""
            ><img
              src="../../assets/images/Landpage/Footer/Social Media Icons/TikTok.png"
              alt=""
          /></a>
        </div>
        <div class="fw-medium">
          &#169; EL -KOSHK ALL RIGHTS RESERVED. ALL IMAGES<br />
          AND &nbsp;MATERIALS&nbsp; ARE&nbsp; COPYRIGHT&nbsp; PROTECTED<br />
          AND ARE THE PROPERTY OF EL -KOSHK
        </div>
      </div>
    </div>
  </div>
</footer> -->

<!-- new footer  -->
<footer class="pt-5 mt-5 pb-5 d-flex">
  <div class="col-lg-5 d-flex justify-content-center firstHalf">
    <div class="d-flex align-items-start">
      <img
        src="../../assets/images/Landpage/Footer/Logo-Blue.png"
        alt="El Koshk logo"
        class="img-fluid"
      />
    </div>
    <div class="pt-4">
      <p class="px-4 py-3 fw-medium">
        EL-KOSHK &nbsp; IS &nbsp; A &nbsp;CREATIVE &nbsp; SPACE &nbsp; FOR
        <br />CHILDREN UNDER 18 YEARS&nbsp; OLD&nbsp; WHERE <br />THEY CAN LEARN
        HOW TO MAKE CINEMA<br />
        AND DIGITAL CONTENT.
      </p>
    </div>
  </div>
  <div class="col-lg-7 d-flex justify-content-around secondHalf">
    <div class="pt-3">
      <ul style="list-style-type: square" class="px-4 py-3 fw-bold fs-4">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">HOME</a>
        </li>
        <li><a routerLink="/portfolios" class="nav-link">PORTFOLIOS</a></li>
        <li><a routerLink="/aboutus" class="nav-link">ABOUT US</a></li>
        <li><a routerLink="/contactus" class="nav-link">CONTACT US</a></li>
      </ul>
    </div>
    <div class="pt-4">
      <P class="fw-bold fs-4 mb-0">SOCIAL MEDIA</P>
      <div class="gap-3 d-flex">
        <a href=""
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/YouTube.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/Facebook.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/Instagram.png"
            alt=""
        /></a>
        <a href=""
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/TikTok.png"
            alt=""
        /></a>
      </div>
      <div class="fw-medium">
        &copy; EL-KOSHK ALL RIGHTS RESERVED. ALL IMAGES<br />
        AND &nbsp;MATERIALS&nbsp; ARE&nbsp; COPYRIGHT&nbsp; PROTECTED<br />
        AND ARE THE PROPERTY OF EL-KOSHK
      </div>
    </div>
  </div>
</footer>
