<footer class="d-flex">
  <div class="d-flex logo-and-bio">
    <div class="logo-container">
      <img
        src="../../assets/images/Landpage/Footer/Logo-Blueee.png"
        alt="El Koshk logo"
        class="pt-4"
      />
    </div>
    <div class="pt-4 el-koshk-bio">
      <p>
        EL-KOSHK &nbsp; IS &nbsp; A &nbsp;CREATIVE &nbsp; SPACE &nbsp; FOR
        CHILDREN UNDER 18 YEARS&nbsp; OLD&nbsp; WHERE THEY CAN LEARN HOW TO MAKE
        CINEMA AND DIGITAL CONTENT.
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-around links-and-social-media">
    <div class="pt-3">
      <ul class="fw-medium links">
        <li class="nav-item">
          <i class="fa-solid fa-square"></i>
          <a routerLink="/home" class="nav-link">HOME</a>
        </li>
        <li>
          <i class="fa-solid fa-square"></i>
          <a routerLink="/portfolios" class="nav-link">PORTFOLIOS</a>
        </li>
        <li>
          <i class="fa-solid fa-square"></i>
          <a routerLink="/aboutus" class="nav-link">ABOUT US</a>
        </li>
        <li>
          <i class="fa-solid fa-square"></i>
          <a routerLink="/contactus" class="nav-link">CONTACT US</a>
        </li>
        @if (!isLogged){
        <li>
          <i class="fa-solid fa-square"></i>
          <a routerLink="/login" class="nav-link">LOGIN</a>
        </li>
        }
      </ul>
    </div>
    <div class="pt-3 social-media">
      <P class="mb-0">SOCIAL MEDIA</P>
      <div class="gap-3 d-flex">
        <a href="https://www.youtube.com/@El_Koshk_studio" target="_blank"
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/YouTube.png"
            alt="YouTube"
            class="img-fluid"
        /></a>
        <a
          href="https://www.facebook.com/EL.Koshk.Studio?mibextid=kFxxJD"
          target="_blank"
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/Facebook.png"
            alt="Facebook"
            class="img-fluid"
        /></a>
        <a
          href="https://www.instagram.com/el_koshk_studio?igsh=ZHNzNTByc3N3MGJr"
          target="_blank"
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/Instagram.png"
            alt="Instagram"
            class="img-fluid"
        /></a>
        <a
          href="https://www.tiktok.com/@el.koshk.studio?_t=8oNUifnxzGS&_r=1"
          target="_blank"
          ><img
            src="../../assets/images/Landpage/Footer/Social Media Icons/TikTok.png"
            alt="TikTok"
            class="img-fluid"
        /></a>
      </div>
      <div class="fw-medium pt-2">
        &copy; EL-KOSHK ALL RIGHTS RESERVED. ALL IMAGES AND
        &nbsp;MATERIALS&nbsp; ARE&nbsp; COPYRIGHT&nbsp; PROTECTED AND ARE THE
        PROPERTY OF EL-KOSHK.
      </div>
    </div>
  </div>
</footer>
