.hero-section {
  aspect-ratio: 32 / 9;
  background: linear-gradient(#ffffff 40%, #feeebe);
}
.portfolios {
  background: linear-gradient(#feeebe 5%, #fdd661);
}
.student-card {
  background-color: #ffffff;
  cursor: pointer;
}

@media (max-width: 1200px) {
}
