<!-- Current Videos -->
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">Current Videos</h2>
    <div class="card-deck row">
      @for(video of userVideos; track video){
      <div class="card col-lg-6 col-mid-12 p-0">
        <iframe
          class="card-img-top"
          style="aspect-ratio: 16/9"
          [src]="getVideoUrl(video.video_id)"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <div class="card-body">
          <h5 class="card-title video-title">{{ video.title }}</h5>
          <div class="d-flex justify-content-between">
            <!-- <p class="card-text">
                  @if(video.verified === 1){ Status:
                  <span
                    >Approved
                    <i class="fas fa-check-circle text-success"></i>
                  </span>
                  } @if(video.verified === 0){ Status:
                  <span
                    >Pending
                    <i
                      class="fa-solid fa-hourglass-end"
                      style="color: #ffd43b"
                    ></i>
                  </span>
                  }
                </p> -->
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<!-- join us page  -->
<!-- <section class="form-section d-flex align-items-center min-vh-100">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Join Us Now</h3>
            <form
              enctype="multipart/form-data"
              [formGroup]="registerForm"
              (ngSubmit)="onRegister()"
            >
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="firstName"> First name </label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control form-control-lg"
                    formControlName="first_name"
                  />
                  @if ( !registerForm.controls['first_name'].valid &&
                  registerForm.controls['first_name'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['first_name'].errors?.['required']) {
                    <small class="m-0">First name is required</small>
                    } @if(
                    registerForm.controls['first_name'].errors?.['minlength'] )
                    {
                    <small class="m-0">Minimum length is 3</small>
                    } @if(
                    registerForm.controls['first_name'].errors?.['maxlength']) {
                    <small class="m-0">Maximum length is 32</small>
                    }
                  </div>
                  }
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="lastName">Last name</label>
                  <input
                    type="text"
                    id="lastName"
                    class="form-control form-control-lg"
                    formControlName="last_name"
                  />
                  @if ( !registerForm.controls['last_name'].valid &&
                  registerForm.controls['last_name'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['last_name'].errors?.['required'] ) {
                    <small class="m-0">Last name is required</small>
                    } @if(
                    registerForm.controls['last_name'].errors?.['minlength'] ) {
                    <small class="m-0">Minimum length is 3</small>
                    } @if(
                    registerForm.controls['last_name'].errors?.['maxlength']) {
                    <small class="m-0">Maximum length is 32</small>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="email" class="form-label">Email address</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    autocomplete="email"
                  />
                  @if ( !registerForm.controls['email'].valid &&
                  registerForm.controls['email'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (registerForm.controls['email'].errors?.['required'] ) {
                    <small class="m-0">Email is required</small>
                    } @if( registerForm.controls['email'].errors?.['email'] ) {
                    <small class="m-0">Email is not valid</small>
                    }
                  </div>
                  } @if (emailAlreadyTaken ) {
                  <div class="alert text-danger m-0 p-0">
                    <small class="m-0 p-0"
                      >The email has already been taken.</small
                    >
                  </div>
                  }
                </div>

                <div class="col-md-6 mb-4">
                  <p class="mb-3 pb-1">Account type</p>
                  <div class="form-check form-check-inline me-5">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="student"
                      value="student"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="student"
                      >Student</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="director"
                      value="director"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="director"
                      >Director</label
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  @if ( !registerForm.controls['password'].valid &&
                  registerForm.controls['password'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if ( registerForm.controls['password'].errors?.['required']
                    ) {
                    <small class="m-0">Password is required</small>
                    } @if(
                    registerForm.controls['password'].errors?.['minlength'] ) {
                    <small class="m-0">Minimum length is 8</small>
                    } @if( registerForm.controls['password'].errors?.['pattern']
                    ) {
                    <small class="m-0">
                      Must include one uppercase letter, one lowercase letter,
                      and one number
                    </small>
                    }
                  </div>
                  }
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="confirmPassword"
                      >Confirm password</label
                    >
                    <input
                      type="password"
                      id="confirmPassword"
                      class="form-control form-control-lg"
                      formControlName="confirmPassword"
                    />
                  </div>
                  @if ( !registerForm.controls['confirmPassword'].valid &&
                  registerForm.controls['confirmPassword'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['confirmPassword'].errors?.['required']
                    ) {
                    <small class="m-0">Confirm password is required</small>
                    }
                  </div>
                  } @if ( registerForm.hasError('passwordsDoNotMatch') &&
                  registerForm.controls['confirmPassword'].touched) {
                  <div>
                    <small class="text-danger">Passwords do not match</small>
                  </div>
                  }
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="profilePic"
                      >Profile picture</label
                    >
                    <input
                      type="file"
                      id="profilePic"
                      class="form-control form-control-lg"
                      formControlName="profilePic"
                      (change)="onFileChange($event)"
                      accept="image/"
                    />
                  </div>
                  @if (!registerForm.controls['profilePic'].valid
                  &&registerForm.controls['profilePic'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['profilePic'].errors?.['required'] ) {
                    <small class="m-0">Profile pic is required</small>
                    }
                  </div>
                  }
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="phoneNumber"
                      >Phone number</label
                    >
                    <input
                      type="tel"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                      formControlName="phoneNumber"
                    />
                  </div>
                  @if (!registerForm.controls['phoneNumber'].valid &&
                  registerForm.controls['phoneNumber'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['phoneNumber'].errors?.['required'] )
                    {
                    <small class="m-0">Phone Number is required</small>
                    } @if(
                    registerForm.controls['phoneNumber'].errors?.['pattern'] ) {
                    <small class="m-0">Invalid phone number</small>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="mt-4 pt-2">
                <button
                  class="btn btn-primary btn-lg"
                  [disabled]="!registerForm.valid"
                >
                  @if (!isLoading) {
                  <span>Register</span>
                  } @if (isLoading) {
                  <i class="fas fa-spinner fa-spin"></i>
                  }
                </button>
              </div>
            </form>
            <div class="mt-3">
              Already have an account?
              <a routerLink="/login">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="form-section d-flex align-items-center min-vh-100">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Join Us Now</h3>
            <form enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="firstName"> First name </label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control form-control-lg"
                    formControlName="first_name"
                  />
                </div>
                <div class="col-md-6 mb-4">
                  <label class="form-label" for="lastName">Last name</label>
                  <input
                    type="text"
                    id="lastName"
                    class="form-control form-control-lg"
                    formControlName="last_name"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="email" class="form-label">Email address</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control form-control-lg"
                    formControlName="email"
                    autocomplete="email"
                  />
                </div>

                <div class="col-md-6 mb-4">
                  <p class="mb-3 pb-1">Account type</p>
                  <div class="form-check form-check-inline me-5">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="student"
                      value="student"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="student"
                      >Student</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="director"
                      value="director"
                      formControlName="type"
                    />
                    <label class="form-check-label" for="director"
                      >Director</label
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <label class="form-label" for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="confirmPassword"
                      >Confirm password</label
                    >
                    <input
                      type="password"
                      id="confirmPassword"
                      class="form-control form-control-lg"
                      formControlName="confirmPassword"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="profilePic"
                      >Profile picture</label
                    >
                    <input
                      type="file"
                      id="profilePic"
                      class="form-control form-control-lg"
                      formControlName="profilePic"
                    />
                  </div>
                </div>

                <div class="col-md-6 mb-4 pb-2">
                  <div>
                    <label class="form-label" for="phoneNumber"
                      >Phone number</label
                    >
                    <input
                      type="tel"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                      formControlName="phoneNumber"
                    />
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg"></button>
              </div>
            </form>
            <div class="mt-3">
              Already have an account?
              <a routerLink="/login">Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


