<app-header></app-header>
<main>
  <div id="aboutUsCover">
    <img
      src="../../assets/images/About Us/aboutuscover3.jpeg"
      alt=""
      width="100%"
    />
  </div>
  <section>
    <div class="pt-5 container-fluid cardsContainer">
      <h2 class="text-center h1 text-light p-4">OUR VALUES</h2>
      <div class="d-flex justify-content-between cards">
        <div class="card border-light" style="width: 21rem">
          <img
            src="../../assets/images/About Us/02/Layer-56.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title  fw-bolder text-center">EDUCATION</h5>
          </div>
        </div>
        <div class="card border-light" style="width: 21rem">
          <img
            src="../../assets/images/About Us/02/Layer-57.png"
            class="card-img-top"
            alt="..."
            height="100%"
          />
          <div class="card-body p-0">
            <h5 class="card-title  fw-bolder">ENTERTAINMENT</h5>
          </div>
        </div>
        <div class="card border-light" style="width: 21rem">
          <img
            src="../../assets/images/About Us/02/Layer-58.png"
            class="card-img-top"
            alt="..."
            height="100%"
          />
          <div class="card-body p-0">
            <h5 class="card-title  fw-bolder ps-4">RAISING AWARENESS</h5>
          </div>
        </div>
      </div>
      <h6 class="fw-medium par py-4">
        IN LIGHT OF&nbsp; THE ACTIVITIES OF
        <strong>&nbsp; THE ACADEMY OF SCIENTIFIC RESEARCH AND TECHNOLOGY</strong
        >&nbsp; AND&nbsp; <strong>INTILAK INITIATIVE </strong> (THE NATIONAL
        PROGRAM FOR BUSINESS INCUBATORS) IN COOPERATION WITH
        <strong> GEMINI AFRICA, </strong> OUR TEAM PARTICIPATED IN THE BUSINESS
        INCUBATORS PROGRAM (CINEMATECH) EL-KOSHK WAS
        <strong> ONE OF THE SIX COMPANIES </strong> CHOSEN TO BE A PART OF THE
        BUSINESS INCUBATOR <strong>OUT OF 200 STARTUPS</strong> THAT APPLIED FOR
        THE PROGRAM.
      </h6>
      <!-- <img
        src="../../assets/images/About Us/02/In-light-of-the-activities-of-the-Academy-of-Scientific-Researc.png"
        alt=""
        class="img-fluid"
      /> -->
    </div>
  </section>
</main>
<app-footer></app-footer>
