<main>
  <app-header></app-header>
  <div class="container py-4">
    <h1 class="mb-4">My Portfolio</h1>

    <!-- loading spinner for now  -->
    <div *ngIf="loading" class="loading-overlay">
      <div class="spinner"></div>
    </div>

    <!-- User Information -->
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Account Information</h2>
        <div class="d-flex p-3 user-info">
          <div class="w-50">
            <p>Name: {{ user.name }}</p>
            <p>Email: {{ user.email }}</p>
          </div>
          <div class="w-50">
            <p>Account Type: {{ user.type }}</p>
            <p>Phone Number: 0{{ user.phone_number }}</p>
          </div>
        </div>
        <a class="btn btn-primary mx-3 px-4" routerLink="edit">Edit</a>
      </div>
    </div>

    <!-- Current Videos -->
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Current Videos</h2>
        <div class="card-deck row">
          @for (video of userVideos; track $index) {
          <div class="card col-lg-6 col-mid-12 p-0">
            <iframe
              class="card-img-top"
              style="aspect-ratio: 16/9"
              [src]="video.video_id"
              frameborder="0"
              allowfullscreen
            ></iframe>
            <div class="card-body">
              <h5 class="card-title video-title">{{ video.title }}</h5>
              <div class="d-flex justify-content-between">
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- Add New Video Form -->
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Add New Video</h2>
        <form
          class="w-75"
          #addVideoForm="ngForm"
          (ngSubmit)="addVideo(addVideoForm)"
        >
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="youtubeUrl"
              name="link"
              ngModel
              #youtubeUrlModel="ngModel"
              placeholder="Enter YouTube URL"
              pattern="^(https?\:\/\/)?(www\.youtube\.com\/watch\?v=|youtu\.be\/)[\w-]{11}(\?[\w=&]*)?$"
              required
            />
          </div>
          @if (youtubeUrlModel.invalid && youtubeUrlModel.touched) {
          <div class="text-danger mb-1 p-0">
            @if (youtubeUrlModel.errors?.['required']) {
            <small *ngIf=""> YouTube URL is required </small>
            } @if (youtubeUrlModel.errors?.['pattern']) {
            <small> Invalid YouTube URL </small>
            }
          </div>
          }
          <!-- Tips for the user -->
          <div class="alert alert-info mb-3">
            Before submitting, make sure:
            <ul>
              <li>It's uploaded on YouTube.</li>
              <li>It has a professional thumbnail.</li>
              <li>The video is set to public.</li>
            </ul>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            [disabled]="addVideoForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <!-- Modal, only shown if API call is successful -->
    <!-- @if(isYTUrlSuccessful){
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      [class.show]="isYTUrlSuccessful"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            The video link has been successfully uploaded and is currently
            awaiting approval.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    } -->
  </div>
  <app-footer></app-footer>
</main>
<!-- <p class="card-text">
                  @if(video.verified === 1){ Status:
                  <span
                    >Approved
                    <i class="fas fa-check-circle text-success"></i>
                  </span>
                  } @if(video.verified === 0){ Status:
                  <span
                    >Pending
                    <i
                      class="fa-solid fa-hourglass-end"
                      style="color: #ffd43b"
                    ></i>
                  </span>
                  }
                </p> -->
