<app-header></app-header>
<section
  class="position-relative d-flex flex-column align-items-center justify-content-start"
>
  <img
    src="../../assets/images/Join Us/01/box-man-layer.png"
    alt="box"
    class="box-man-layer d-none d-lg-block"
  />
  <img
    src="../../assets/images/Join Us/01/Layer-54-2.png"
    alt="image-layer"
    class="bottom-image-layer"
  />
  <div class="container-fluid my-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <h1 class="text-start">JOIN US</h1>
        <form
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
        >
          <div class="inputs-container">
            <div class="left-half">
              <div class="mb-4 row">
                <!-- name  -->
                <div class="col-8">
                  <label for="name" class="form-label ps-2">NAME</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control form-control-lg"
                    formControlName="name"
                  />
                  @if ( !registerForm.controls['name'].valid &&
                  registerForm.controls['name'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if ( registerForm.controls['name'].errors?.['required']) {
                    <small class="m-0">Field is required</small>
                    }
                  </div>
                  }
                </div>
                <!-- age  -->
                <div class="col-4">
                  <label for="age" class="form-label ps-2">AGE</label>
                  <input
                    type="text"
                    id="age"
                    class="form-control form-control-lg"
                    formControlName="age"
                  />
                  @if ( !registerForm.controls['age'].valid &&
                  registerForm.controls['age'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if ( registerForm.controls['age'].errors?.['required']) {
                    <small class="m-0">Field is required</small>
                    } @if (registerForm.controls['age'].errors?.['pattern']) {
                    <small class="m-0"> Age must be between 8 and 18. </small>
                    }
                  </div>
                  }
                </div>
              </div>
              <!-- email  -->
              <div class="mb-4">
                <label for="email" class="form-label ps-2">E-MAIL</label>
                <input
                  type="email"
                  id="email"
                  class="form-control form-control-lg"
                  formControlName="email"
                />
                @if ( !registerForm.controls['email'].valid &&
                registerForm.controls['email'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if ( registerForm.controls['email'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  } @if (registerForm.controls['email'].errors?.['email']) {
                  <small class="m-0"> Invalid input </small>
                  }
                </div>
                }
              </div>
              <!-- password  -->
              <div class="mb-4 row">
                <div class="col-6">
                  <label for="password" class="form-label ps-2"
                    >SET A PASSWORD</label
                  >
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  @if ( !registerForm.controls['password'].valid &&
                  registerForm.controls['password'].touched) {
                  <div class="alert text-danger m-0 p-0">
                    @if (
                    registerForm.controls['password'].errors?.['required']) {
                    <small class="m-0">Field is required</small>
                    } @if
                    (registerForm.controls['password'].errors?.['minlength']) {
                    <small class="m-0"> must be at least 8 characters</small>
                    }
                  </div>
                  }
                </div>
                <!-- confirm password  -->
                <div class="col-6">
                  <label for="confirmPassword" class="form-label ps-2"
                    >CONFIRM PASSWORD</label
                  >
                  <input
                    type="password"
                    id="confirmPassword"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                  />
                  <!-- required error for confirm password  -->
                  <!-- @if ( !registerForm.controls['confirmPassword'].valid &&
                  registerForm.controls['confirmPassword'].touched &&
                  registerForm.controls['confirmPassword'].errors?.['required'])
                  {
                  <small class="m-0 text-danger">Field is required</small>
                  } -->
                  @if (registerForm.errors?.['passwordMismatch'] &&
                  registerForm.controls['password'].touched ) {
                  <small class="m-0 text-danger">Passwords do not match </small>
                  }
                </div>
              </div>
              <!-- phone number  -->
              <div class="mb-4">
                <label for="mobileNumber" class="form-label ps-2"
                  >MOBILE NUMBER</label
                >
                <input
                  type="tel"
                  id="mobileNumber"
                  class="form-control form-control-lg"
                  formControlName="mobileNumber"
                />
                @if ( !registerForm.controls['mobileNumber'].valid &&
                registerForm.controls['mobileNumber'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if (
                  registerForm.controls['mobileNumber'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  } @if
                  (registerForm.controls['mobileNumber'].errors?.['pattern']) {
                  <small class="m-0">Invalid number</small>
                  }
                </div>
                }
              </div>
              <!-- parent number  -->
              <div class="mb-4">
                <label for="parentNumber" class="form-label ps-2"
                  >PARENT NUMBER</label
                >
                <input
                  type="tel"
                  id="parentNumber"
                  class="form-control form-control-lg"
                  formControlName="parentNumber"
                />
                @if ( !registerForm.controls['parentNumber'].valid &&
                registerForm.controls['parentNumber'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if (
                  registerForm.controls['parentNumber'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  } @if
                  (registerForm.controls['parentNumber'].errors?.['pattern']) {
                  <small class="m-0">Invalid number</small>
                  }
                </div>
                }
              </div>
            </div>
            <div class="right-half">
              <!-- address  -->
              <div class="mb-4">
                <label for="address" class="form-label ps-2">ADDRESS</label>
                <input
                  type="text"
                  id="address"
                  class="form-control form-control-lg"
                  formControlName="address"
                />
                @if ( !registerForm.controls['address'].valid &&
                registerForm.controls['address'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if ( registerForm.controls['address'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  }
                </div>
                }
              </div>
              <!-- talent  -->
              <div class="mb-4">
                <label for="talent" class="form-label ps-2"
                  >WHAT IS YOUR TALENT ?</label
                >
                <input
                  type="text"
                  id="talent"
                  class="form-control form-control-lg"
                  formControlName="talent"
                />
                @if ( !registerForm.controls['talent'].valid &&
                registerForm.controls['talent'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if ( registerForm.controls['talent'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  }
                </div>
                }
              </div>
              <!-- reach method  -->
              <div class="mb-4">
                <label for="reach-method" class="form-label ps-2"
                  >HOW DID YOU REACH US?</label
                >
                <input
                  type="text"
                  id="reach-method"
                  class="form-control form-control-lg"
                  formControlName="reachMethod"
                />
                @if ( !registerForm.controls['reachMethod'].valid &&
                registerForm.controls['reachMethod'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if (
                  registerForm.controls['reachMethod'].errors?.['required']) {
                  <small class="m-0">Field is required</small>
                  }
                </div>
                }
                <!-- if he wants to have options  -->
                <!-- <select
                  name="reach-method"
                  id="reach-method"
                  formControlName="reachMethod"
                  class="form-select form-select-lg"
                  (change)="onchange()"
                >
                  <option value="">select one</option>
                  @for (reachMethod of reachMethods; track $index) {
                  <option [ngValue]="reachMethod">{{ reachMethod }}</option>
                  }
                </select> -->
              </div>
              <!-- artistic experience  -->
              <div class="mb-4">
                <label for="artisticExperience" class="form-label ps-2"
                  >HAVE YOU DONE ANY ARTISTIC WORK BEFORE?</label
                >
                <input
                  type="text"
                  id="artisticExperience"
                  class="form-control form-control-lg"
                  formControlName="artisticExperience"
                />
                @if ( !registerForm.controls['artisticExperience'].valid &&
                registerForm.controls['artisticExperience'].touched) {
                <div class="alert text-danger m-0 p-0">
                  @if (
                  registerForm.controls['artisticExperience'].errors?.['required'])
                  {
                  <small class="m-0">Field is required</small>
                  }
                </div>
                }
                <!-- if he wants select options of yes and no  -->
                <!-- <select
                  name="artisticExperience"
                  id="artisticExperience"
                  formControlName="artisticExperience"
                  class="form-select form-select-lg"
                >
                  <option value=""></option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select> -->
              </div>
              <!-- perv work link  -->
              <div class="mb-4">
                <label for="prevWorkLink" class="form-label ps-2"
                  >PUT A LINK FOR ANY PREVIOUS VIDEOS FOR YOU</label
                >
                <input
                  type="text"
                  id="prevWorkLink"
                  class="form-control form-control-lg"
                  formControlName="prevWorkLink"
                />
                @if ( registerForm.controls['prevWorkLink'].touched &&
                registerForm.controls['prevWorkLink'].value) {
                <div class="alert text-danger m-0 p-0">
                  @if (
                  registerForm.controls['prevWorkLink'].errors?.['pattern']) {
                  <small class="m-0">Invalid link</small>
                  }
                </div>
                }
              </div>
              <div
                class="mb-4 d-flex justify-content-center align-items-center"
              >
                <!-- <input
                  type="file"
                  id="photo"
                  class="form-control form-control-lg"
                  formControlName="photo"
                /> -->
                <label for="photo" class="btn bg-light upload-button">
                  UPLOAD A PHOTO OF YOU
                  <input
                    type="file"
                    id="photo"
                    style="display: none"
                    accept="image/*"
                    formControlName="photo"
                    (change)="onFileChange($event)"
                  />
                  <!-- not showing error -->
                  <!-- @if ( registerForm.controls['photo'].dirty &&
                  registerForm.controls['photo'].errors) {
                  <div class="alert text-danger m-0 p-0">
                    <small class="m-0">Field is required</small>
                  </div>
                  } -->
                </label>
              </div>
            </div>
          </div>
          <div class="pt-2 signup-container row">
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              [disabled]="!registerForm.valid"
            >
              @if (!isLoading) {
              <span>SIGN UP</span>
              } @if (isLoading) {
              <i class="fas fa-spinner fa-spin"></i>
              }
            </button>
            <span class="text-light"
              >Have an account? <a routerLink="/login">Login</a></span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
