<div class="position-relative">
  <img
    src="../../assets/images/Landpage/01/Layer-35.png"
    style="height: 95vh; width: 100%"
    alt="EL_koshk background"
    class="w-100"
  />
  <div class="position-absolute" id="item2Container">
    <img
      src="../../assets/images/Landpage/01/2116879.png"
      id="item2"
      style="width: 50%"
    />
  </div>
  <div class="position-absolute" id="item3Container">
    <a>
      <img
        src="../../assets/images/Landpage/01/Layer-46-copy-3.png"
        id="item3"
        style="width: 45%"
        alt=""
    /></a>
  </div>
</div>
