<!-- <div class="position-relative">
  <img
    src="../../assets/images/Landpage/01/Layer-35.png"
    style="height: 95vh; width: 100%"
    alt="EL_koshk background"
    class="w-100"
  />
  <div class="position-absolute" id="item2Container">
    <img
      src="../../assets/images/Landpage/01/2116879.png"
      id="item2"
      style="width: 50%"
    />
  </div>
  <div class="position-absolute" id="item3Container">
    <a>
      <img
        src="../../assets/images/Landpage/01/Layer-46-copy-3.png"
        id="item3"
        style="width: 45%"
        alt=""
    /></a>
  </div>
</div> -->

<div
  class="position-relative"
  style="background-color: rgb(251, 199, 81); height: 150vh"
  id="childsContainer"
>
  <div id="item2Container">
    <img
      src="../../assets/images/Landpage/01/Characters.png"
      id="item2"
      style="
        position: absolute;
        width: 75%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      "
    />
  </div>
  <!-- <div class="position-absolute" id="item3Container">
    <a href="#">
      <img
        src="../../assets/images/Landpage/01/Layer-46-copy-3.png"
        id="item3"
        style="width: 30%"
        alt=""
      />
    </a>
  </div> -->
</div>
