/* #item2Container{
        top:10%;
        left:-2%;
        margin: 0;
        padding: 0;
}
#item3Container{
        top:76%;
        left: 12%;
        
} */

#item3Container {
  top: 50%;
}
/* #item2 {
  top: 6%;
  left: 4%;
} */
#item2Container {
  background-image: url(../../assets/images/Landpage/01/2116879.png);
  background-repeat: no-repeat;
  top: 2;
  left: 5;
}
