<div class="wrapper">
  <aside>
    <app-dashboard-sidebar></app-dashboard-sidebar>
  </aside>
  <div class="content d-flex flex-column">
    <div class="content px-3 py-4">
      <div class="container-fluid">
        <div class="mb-3">
          <h3 class="fw-bold fs-4 mb-3">Admin Dashboard</h3>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <a routerLink="/admin/dashboard/users">
                <div class="card border-0">
                  <div class="card-body py-4">
                    <h5 class="mb-2 fw-bold">Users</h5>
                    <p class="mb-2 fw-bold">{{ totalUsers }}</p>
                    <!-- <div class="mb-0">
          <span class="badge text-success me-2"> +9.0% </span>
          <span class="fw-bold"> Since Last Month </span>
        </div> -->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <a routerLink="/admin/dashboard/videos">
                <div class="card border-0">
                  <div class="card-body py-4">
                    <h5 class="mb-2 fw-bold">Videos</h5>
                    <p class="mb-2 fw-bold">{{ totalVideos }}</p>
                    <!-- <div class="mb-0">
                    <span class="badge text-success me-2"> +9.0% </span>
                    <span class="fw-bold"> Since Last Month </span>
                  </div> -->
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="card border-0">
                <div class="card-body py-4">
                  <h5 class="mb-2 fw-bold">Earnings</h5>
                  <p class="mb-2 fw-bold">0 EGP</p>
                  <!-- <div class="mb-0">
                    <span class="badge text-success me-2"> +9.0% </span>
                    <span class="fw-bold"> Since Last Month </span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-dashboard-footer></app-dashboard-footer>
  </div>
</div>
